      <div class="row">
        <div class="large-4 columns">
          <img src="http://i.imgur.com/RevH8mw.jpg">
        </div>
        <div class="large-8 columns">
          <br><h3>game rules:</h3>
          <div class="row">
            <div class="innate">
            <br>
            <h4>innate stage</h4>
              <p>player starts with 30 metabolism points to dispense. <br>can be placed towards cytokines, macromolecules, or phagocytes:</p>
            </div>
            <div class="cytokine-step">
              <p><strong>cytokines: balance</strong><br> try to avoid system compromise <br> if virus numbers get out of hand <br> ( if virus count > cell count )</p>
            </div>
            <div class="macromolecule-step">
              <p><strong>macromolecules: memory</strong><br> adds memory <br> often necessary to win <br> multiplies cell attack damage</p>
            </div>
            <div class="phagocyte-step">
              <p><strong>phagocytes: volatility</strong><br> removes volatile cells<br> volatile cells are at risk <br> for viral subjugation</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="adaptive-step">
          <h4>adaptive stage</h4>
          <p><h5 strong>system turn (player)</h5>
          10 meta points/turn<br>
          can dispense towards apoptosis <strong><%= ">> " %>volatile cell death</strong>,<br>
          generation <strong><%= ">> " %>randomly create cells</strong>,<br> pyrogenation <strong><%= ">> " %>extra turn points</strong>,<br> or response <strong><%= ">> " %>immune virus attack</strong>
          <br> virus cycle attacks are based on cell volatility.</p>

          <p><h5>virus turn</h5>

          if chosen cell is volatile, virus initiates <span data-tooltip aria-haspopup="true" class="tip-top" title="cell subjugation in 3 stages. cell becomes antigen and produces 2 antigens and 1 virus each turn"><strong>lysogenic cycle</strong></span>

          </ul><br><br>
          otherwise if cell is fine it enters the <span data-tooltip aria-haspopup="true" class="tip-bottom" title="4 stage cell destruction through virus DNA insertion. cell dispenses 3 viri upon destruction."><strong>lytic cycle</strong></span>

        </div>
        <div class="bottom">
          <img src="http://i.imgur.com/EvYrYpq.jpg">
        </div>
      </div>

      <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <p>©nopenopenope.</p>
            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="https://github.com/kalyco">contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
