<div class="new_page">
  <div class= "initialize">
    <h3>create new game?</h3>
  </div>
  <div class="crosshair"><%= form_for @system do |f| %>
    <%= f.submit " ", type: :image, src: "http://i.imgur.com/C27f8aR.jpg" %>
    </div>
  <% end %>
</div>




