/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation_and_overrides
 *= require custom_buttons

 */

@font-face {
 font-family: "Nexa Light";
 src: font-url('nexa_light.otf');
}

$nexa-font: "Nexa Light", sans-serif;

.cytokine-step {
  position: relative;
  bottom: 100px;
}

.macromolecule-step {
  position: relative;
  bottom: 100px;
  left: 200px;
}

.phagocyte-step {
  position: relative;
  bottom: 80px;
  left: 450px;
}

.adaptive-step {
  position: relative;
  bottom: 300px;
  left: 55px;
}

.innate {
  position: relative;
  bottom: 100px;
  left: 200px;
}
.row {
  position: relative;
  top: 30px;
}

.parent .popup {
  display: none;
}

.parent:hover .popup {
  display: block;
}

.top-bar {
  background-image: url("http://i.imgur.com/s8Z8rN3.jpg");
}

li.link {
  color: white;
  position: relative;
  top: 10px;
  left: 200px;
}

img.main {
  position: relative;
  top: 20px;
  bottom: 40px;
}

.large-4 img {
  height: 250px;
  width: 380px;
  position: relative;
  right: 25px;
}

.bottom img {
  position: relative;
  height: 200px;
  width: 600%;
  bottom: 300px;
}

* {
  font-family: $nexa-font;
}

select#macro_molecules {
  align: center;
}

.hovering1 {
  float: left;
}

.hovering2 {
  text-align: center;
  display: inline-block;
}

.hovering3 {
  float: right;
  text-align: right;
}

.sub_button {
  position: relative;
  left: 400px;
  top: 100px;
}

 h1 h2 h3 {
  text-align: center;
 }

 .large-12 {
  text-align: center;
 }

.system_abilities {
  padding-top: 150px;
  position: relative;
  left: 500px;
  width: 700px;

 }

label {
  font-size: 200%;
}

.new_page {
  text-align: center;
  padding-top: 150px;
  cursor: crosshair;
}

.initialize {
  font-family: 'Andale Mono', AndaleMono, monospace;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.3999996185303px;
}

.main-section {
  text-align: center;
}

li {
  text-align: center
}

#site-title {
  position: fixed;
  left: 50px;
  top: 40%;
}

table {
  position: relative;
  margin: auto;
}

#system_chart {
  position: relative;
  margin: auto;
}

section#main {
  position: relative;
  width: 70%;
  float: right;
  top: 100px;
}
