.button1 {
   border: 3px solid #0a3c59;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   padding: 10.5px 21px;
   -webkit-border-radius: 11px;
   -moz-border-radius: 11px;
   border-radius: 11px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #06426c;
   font-size: 20px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button1:hover {
   border: 3px solid #183140;
   text-shadow: #1e4158 0 1px 0;
   background: #de550b;
   background: -webkit-gradient(linear, left top, left bottom, from(#e35a10), to(#de550b));
   background: -webkit-linear-gradient(top, #e35a10, #de550b);
   background: -moz-linear-gradient(top, #e35a10, #de550b);
   background: -ms-linear-gradient(top, #e35a10, #de550b);
   background: -o-linear-gradient(top, #e35a10, #de550b);
   background-image: -ms-linear-gradient(top, #e35a10 0%, #de550b 100%);
   color: #fff;
   }
.button1:active {
   text-shadow: #1e4158 0 1px 0;
   border: 3px solid #0a3c59;
   background: #c2111a;
   background: -webkit-gradient(linear, left top, left bottom, from(#d40b0b), to(#de550b));
   background: -webkit-linear-gradient(top, #d40b0b, #c2111a);
   background: -moz-linear-gradient(top, #d40b0b, #c2111a);
   background: -ms-linear-gradient(top, #d40b0b, #c2111a);
   background: -o-linear-gradient(top, #d40b0b, #c2111a);
   background-image: -ms-linear-gradient(top, #d40b0b 0%, #c2111a 100%);
   color: #fff;
   }

.button2 {
   border: 1px solid #0a3c59;
   background: #3e9c9c;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e9c9c));
   background: -webkit-linear-gradient(top, #65a9d7, #3e9c9c);
   background: -moz-linear-gradient(top, #65a9d7, #3e9c9c);
   background: -ms-linear-gradient(top, #65a9d7, #3e9c9c);
   background: -o-linear-gradient(top, #65a9d7, #3e9c9c);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e9c9c 100%);
   padding: 10.5px 21px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #060b69;
   font-size: 24px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button2:hover {
   border: 1px solid #0a3c59;
   text-shadow: #1e4158 0 1px 0;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   color: #fff;
   }
.button2:active {
   text-shadow: #1e4158 0 1px 0;
   border: 1px solid #0a3c59;
   background: #1475b5;
   background: -webkit-gradient(linear, left top, left bottom, from(#094369), to(#3e779d));
   background: -webkit-linear-gradient(top, #094369, #1475b5);
   background: -moz-linear-gradient(top, #094369, #1475b5);
   background: -ms-linear-gradient(top, #094369, #1475b5);
   background: -o-linear-gradient(top, #094369, #1475b5);
   background-image: -ms-linear-gradient(top, #094369 0%, #1475b5 100%);
   color: #fff;
   }
   .button3 {
   border: 5px solid #42180e;
   background: #d92020;
   background: -webkit-gradient(linear, left top, left bottom, from(#d11919), to(#d92020));
   background: -webkit-linear-gradient(top, #d11919, #d92020);
   background: -moz-linear-gradient(top, #d11919, #d92020);
   background: -ms-linear-gradient(top, #d11919, #d92020);
   background: -o-linear-gradient(top, #d11919, #d92020);
   background-image: -ms-linear-gradient(top, #d11919 0%, #d92020 100%);
   padding: 10.5px 21px;
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   border-radius: 30px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #000000 0 1px 0;
   color: #ffffff;
   font-size: 24px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button3:hover {
   border: 5px solid #0a3c59;
   text-shadow: #1e4158 0 1px 0;
   background: #8c2b2b;
   background: -webkit-gradient(linear, left top, left bottom, from(#631a43), to(#8c2b2b));
   background: -webkit-linear-gradient(top, #631a43, #8c2b2b);
   background: -moz-linear-gradient(top, #631a43, #8c2b2b);
   background: -ms-linear-gradient(top, #631a43, #8c2b2b);
   background: -o-linear-gradient(top, #631a43, #8c2b2b);
   background-image: -ms-linear-gradient(top, #631a43 0%, #8c2b2b 100%);
   color: #fff;
   }
.button3:active {
   text-shadow: #1e4158 0 1px 0;
   border: 5px solid #f50303;
   background: #000000;
   background: -webkit-gradient(linear, left top, left bottom, from(#1e104a), to(#8c2b2b));
   background: -webkit-linear-gradient(top, #1e104a, #000000);
   background: -moz-linear-gradient(top, #1e104a, #000000);
   background: -ms-linear-gradient(top, #1e104a, #000000);
   background: -o-linear-gradient(top, #1e104a, #000000);
   background-image: -ms-linear-gradient(top, #1e104a 0%, #000000 100%);
   color: #fff;
   }
